#container {
    $containerAdLoginHeight: 135px;
    $containerSpeednewsCurrencyHeight: 50px;
    $containerEachMarginTop: 15px;
    width: $basicW;
    margin: $basicM;

    #container-left {
        width: $leftWidth;

        #left__ad {
            width: $whole;
            height: $containerAdLoginHeight;
            background: url('../images/content_ad.jpg');
            background-size: cover;
            margin-top: $containerEachMarginTop+5;
        }

        #left__speednews {

            display: flex;
            justify-content: space-between;
            align-items: center;
            height: $containerSpeednewsCurrencyHeight;
            margin-top: $containerEachMarginTop;
            background-color:
                $basicBoxBackgroundcolor;
            border: $basicBorder;

            .speed {
                margin: $boxMargin;

            }

            .category {
                display: flex;
                margin: $boxMargin;

                .list {
                    margin: $textMargin;
                }

                .naver {
                    color: $naverBlueDeep;
                }
            }
        }

        #left__newsstand {
            #newsstand__title {
                height: $basicH;
                margin-top: $containerEachMarginTop;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .title {
                    display: flex;

                    span {
                        margin: 2px;
                        ;
                    }

                    .company-category {
                        margin-left: 5px;

                        .active {
                            font-weight: 700;
                            color: $fontDark;
                        }
                    }

                }

                .setting {
                    display: flex;
                    color: $fontSuperLight;

                    li {
                        margin: $iconMargin;

                        &:hover {
                            color: $fontMid;
                        }
                    }

                    .active {
                        color: $naverBlueDeep;
                    }
                }
            }

            #newsstand__category {
                display: flex;
                flex-wrap: wrap;
                border: $basicBorder;
                border-left: none;
                border-top: none;

                width: ($leftWidth);

                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: ($leftWidth)/6;
                    margin-right: -1px;
                    height: 57px;
                    border: $basicBorder;
                    border-right: none;
                    border-bottom: none;
                }
            }

        }

        #left__article {
            $selectedColor: #55CCC1;

            #article__title {
                display: flex;
                justify-content: space-between;
                height: $basicH;
                margin-top: $containerEachMarginTop;
                align-items: center;

                .todaysarticle {
                    span {
                        margin: $textMargin;
                    }
                }

                .setting {
                    display: flex;

                    span:nth-child(3) {
                        margin: $textMargin;
                    }

                    div {
                        margin: $textMargin;
                        ;
                    }

                    .cog {

                        &:hover {
                            color: $fontMid;
                        }

                        span {
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }

            #article__category {
                display: flex;
                height: 42px;
                border: $basicBorder;

                li {
                    width: ($leftWidth)/8-1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-right: $basicBorder;

                    &:last-child {
                        border: none;
                    }

                    &:hover {
                        color: $selectedColor;
                    }
                }

                .active {
                    background-color: $selectedColor;
                    color: $white;

                    &:hover {
                        color: $white;
                    }
                }
            }

            .txt {
                margin-top: $containerEachMarginTop+5;

                p {
                    margin-top: ($containerEachMarginTop)-8;
                    line-height: 120%;
                }

                .type {
                    color: $selectedColor;
                }
            }

            #article__mainarticle {
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 325px;

                margin-top: $containerEachMarginTop+5;

                padding-bottom: $containerEachMarginTop+5;

                border-bottom: $basicBorder;

                .mainarticle-big {
                    width: 366px;

                    .img {
                        width: 100%;
                        height: 180px;
                        background-image: url('../images/mainarticle-big.jpg');
                        background-size: cover;
                    }
                }

                .mainarticle-small {
                    width: 362px;
                    margin-left: 25px;

                    .listUL {
                        display: flex;
                        flex-direction: column;

                        li {
                            display: flex;
                            flex-direction: row;
                            margin-bottom: $containerEachMarginTop;

                            .img {
                                width: 98px;
                                height: 98px;
                            }

                            .txt {
                                width: 218px;
                                margin-top: 0;
                                margin-left: 18px;

                                p {
                                    &:first-child {
                                        margin-top: 4px;
                                    }
                                }
                            }

                        }


                    }
                }

            }

            #article__subarticle {

                #subarticleUL1,
                #subarticleUL2 {
                    padding-bottom: $containerEachMarginTop;
                    border-bottom: $basicBorder;

                    .sublist {
                        margin-top: ($containerEachMarginTop);
                        display: flex;
                        align-items: center;

                        .subimg {
                            width: 171px;
                            height: 115px;
                            content: '';
                            background-position: center;
                            background-size: 100%;
                            transition: all .3s ease-in-out;

                            &:hover {
                                background-size: 105%;
                            }
                        }

                        .txt {
                            width: 500px;
                            margin-top: 0;
                            margin-left: 18px;
                        }
                    }
                }

                #subarticleUL2 {
                    margin-top: $containerEachMarginTop*2;
                }

                #subarticleUL1__video,
                #subarticleUL2__video {
                    margin-top: $containerEachMarginTop;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;
                    padding-bottom: $containerEachMarginTop;
                    border-bottom: $basicBorder;

                    .videolist {
                        width: 30%;

                        .videoimg {
                            width: 230px;
                            height: 130px;
                            transition: all .3s ease-in-out;
                            background-size: 100%;

                            &:hover {
                                background-size: 105%;
                            }
                        }

                        .videotxt {
                            margin-top: $containerEachMarginTop;
                        }
                    }
                }
            }

        }
    }
}