* {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background: none;
}

button:active:target:focus {
    border: none;
    background-color: none;
}

$white:#fff;
$naverGreen1:#19ce60;
$naverGreen2:#01cbae;
$naverGreenX:#fff1c0;
$naverBlueLight:#4a94e1;
$naverBlueDeep:#4C70CC;

$fontSuperLight:#B1B2B1;
$fontLight:#666;
$fontMid:#444;
$fontDark:#222;

$whole:100%;

$basicH:48px;
$basicW:1130px;
$basicM: 0 auto;

$boxMargin: 0 20px;
$iconMargin: 0 7px;
$textMargin: 0 4px;

$leftWidth:756px;
$middleWidth:35px;
$rightWidth:350px;

$basicBorder:1px solid #dbdbdb;

$smallBtnPadding:7px 14px;
$smallBtnRadius:0.9rem;

$basicBoxBackgroundcolor:#f7f9fa;


.fs {
    &-tl {
        font-size: 12px;
        font-weight: 100;
    }

    &-tm {
        font-size: 12px;
        font-weight: 400;
    }

    &-tb {
        font-size: 12px;
        font-weight: 700;
    }

    &-sl {
        font-size: 13px;
        font-weight: 100;

    }

    &-sm {
        font-size: 13px;
        font-weight: 400;

    }

    &-sb {
        font-size: 13px;
        font-weight: 700;

    }

    &-ml {
        font-size: 14px;
        font-weight: 100;
    }

    &-mm {
        font-size: 14px;
        font-weight: 400;
    }

    &-mb {
        font-size: 14px;
        font-weight: 700;

    }

    &-ll {
        font-size: 15px;
        font-weight: 100;
    }

    &-lm {
        font-size: 15px;
        font-weight: 400;
    }

    &-lb {
        font-size: 15px;
        font-weight: 700;
    }

}

.fc {
    &-dark {
        color: #222;
    }

    &-medium {
        color: #555;
    }

    &-light {
        color: #777;
    }
}