@import 'assets/css/variables';

$headerMidContentHeight:55px;
$searchBorder:2px;

#header__ad--bg {
    width: $whole;
    height: $basicH;
    background-color: $naverGreen2;
    transition: transform 1s ease;
}

#header__advertisement {
    width: $basicW;
    margin: $basicM;
    height: $basicH;
    background-color: $naverGreen2;
    color: $white;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .logos {
        color: $white;
    }

    content {
        text-align: center;
    }

    .downloadBtn {
        padding: $smallBtnPadding;
        background-color: $naverGreenX;
        border-radius: $smallBtnRadius;
        color: $naverGreen2;
        margin-left: 10px;
    }

    .deleteBtn {
        color: $white;
        font-family: 'Lato', sans-serif;

        span {
            margin: $textMargin;
        }

    }

}

#header__mid {
    width: $basicW;
    margin: $basicM;

    .container {
        width: 100%;
        height: 160px;
        display: grid;
        position: relative;
        align-content: center;
        grid-template-columns: 20% 54% 22%;
    }

    .logo {
        width: 230px;
        height: $headerMidContentHeight;
        font-size: 40px;
        color: $naverGreen1;
        align-self: center;
    }

    .searchwrap {
        position: relative;

        input {
            position: absolute;
            left: 0;
            width: 520px;
            height: ($headerMidContentHeight)-($searchBorder*2);
            border: $searchBorder solid $naverGreen1;
        }

        input[type="text"] {
            font-size: 20px;
            color: $naverGreen1;
            text-align: center;
        }

        .submit {
            position: absolute;
            right: $headerMidContentHeight;
            width: $headerMidContentHeight;
            height: $headerMidContentHeight;
            background-color: $naverGreen1;
            color: $white;
            font-size: 20px;
        }

    }

    .page {
        color: #333;

        &:hover {
            text-decoration: underline;
        }
    }

    .etc {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #999;
        cursor: pointer;
    }

    .junior {

        &:hover {
            color: hotpink;
        }
    }

    .happybean {


        &:hover {
            color: $naverGreen2;
        }
    }
}


#header__gnb--bg {
    width: $whole;
    height: $basicH;
    border-top: $basicBorder;
    border-bottom: $basicBorder;
    box-shadow: 0px 9px 10px -6px rgba(50, 50, 93, .1);
}

#header__gnb {
    width: $basicW;
    margin: $basicM;
    height: $basicH;
    display: flex;
    align-items: center;

    .leftbox {
        width: $leftWidth;
        display: flex;
        justify-content: space-around;
        margin-right: $middleWidth;
    }

    li {
        cursor: pointer;
    }

    .UL {
        width: ($leftWidth)/2;
        height: 15px;
        display: flex;
        justify-content: space-around;
    }

    .greenUL {
        color: $naverGreen1;
    }

    .rightbox {
        width: $rightWidth;
        display: flex;
        justify-content: space-between;

        div {
            cursor: pointer;
        }
    }

    .down {
        color: #666;
    }
}
