@import "header";
@import "containerLeft";
@import 'reset';
@import "containerRight";
@import "footerpart";

li {
    cursor: pointer;
}

#wrap {
    margin: 0;
    padding: 0;
    display: block;
    min-width: 1190px;
}

.imgwrap {
    overflow: hidden;
}

.img {
    border: none;
    background-size: 100%;
    background-position: center;
    transition: all .3s ease-in-out;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }
}
