@import "header";
@import "containerLeft";
@import 'reset';
@import "containerRight";
@import "footerpart";

#wrap {
    margin: 0;
    padding: 0;
    display: block;
    min-width: 1190px;
}

.img {
    border: none;
    background-size: 100%;
    transition: all .3s ease-in-out;
    cursor: pointer;

    &:hover {
        background-size: 105%;
    }
}