@import "header";
@import "containerLeft";
@import 'reset';
@import "containerRight";
@import "footerpart";

li,
img,
button {
    cursor: pointer;
}

#wrap {
    margin: 0;
    padding: 0;
    display: block;
    min-width: 1190px;
}

.imgwrap {
    overflow: hidden;
}

.img {
    width: 100%;
    height: auto;
    border: none;
    transition: all .3s ease-in-out;
    cursor: pointer;

    &:hover {
        transform: scale(1.06);
    }
}
