* {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background: none;
}

button:active:target:focus {
    border: none;
    background-color: none;
}


$white:#fff;
$naverGreen1:#19ce60;
$naverGreen2:#01cbae;
$naverGreenX:#fff1c0;

$whole:100%;

$basicH:48px;
$basicW:1130px;
$basicM: 0 auto;

$LeftWidth:756px;
$MiddleWidth:35px;
$RightWidth:350px;

$basicBorder:1px solid #dbdbdb;

$smallBtnPadding:5px;
$smallBtnRadius:0.2rem;

.fs {
    &-tl {
        font-size: 12px;
        font-weight: 100;
    }

    &-tm {
        font-size: 12px;
        font-weight: 400;
    }

    &-tb {
        font-size: 12px;
        font-weight: 700;
    }

    &-sl {
        font-size: 14px;
        font-weight: 100;
    }

    &-sm {
        font-size: 14px;
        font-weight: 400;
    }

    &-sb {
        font-size: 14px;
        font-weight: 700;
    }

    &-ml {
        font-size: 15px;
        font-weight: 100;
    }

    &-mm {
        font-size: 15px;
        font-weight: 300;
    }

    &-mb {
        font-size: 15px;
        font-weight: 700;
    }

    &-lb {
        font-size: 22px;
        font-weight: 700;
    }
}