@import 'assets/variables';

#header__ad--bg {
    width: 100%;
    height: $basicH;
    background-color: $naverGreen2;
}

#header__advertisement {
    width: 1130px;
    margin: 0 auto;
    height: $basicH;
    background-color: $naverGreen2;
    color: $white;

    padding: 0 $basicM;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

#header__advertisement .content {
    text-align: center;
}


#header__advertisement .downloadBtn {
    padding: $smallBtnPadding;
    background-color: $naverGreenX;
    border-radius: $smallBtnRadius;
    color: $naverGreen2
}


#header__advertisement .deleteBtn {
    color: $white;
}

#header__mid {
    width: 1130px;
    margin: 0 auto;
    padding: 0 $basicM;
}

#header__mid .container {
    width: 100%;
    height: 160px;
    display: grid;
    position: relative;
    align-content: center;
    grid-template-columns: 20% 55% 22%;
}

$headerMidContentHeight:55px;
$searchBorder:3px;

#header__mid .logo {
    width: 230px;
    height: $headerMidContentHeight;
    font-size: 40px;
    color: $naverGreen1;
}

#header__mid .search input {
    width: 530px;
    height: ($headerMidContentHeight)-($searchBorder*2);
    border: $searchBorder solid $naverGreen1;
}

input[type="text"] {
    font-size: 24px;
    color: $naverGreen1;
    text-align: center;

}

#header__mid .search .submit {
    width: $headerMidContentHeight;
    height: $headerMidContentHeight;
    background-color: $naverGreen1;
    color: $white;
    font-size: 22px;
    margin-left: -4px;
    padding-top: 2px;
}

#header__mid .etc {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #999;
    cursor: pointer;
}

#header__mid .page {
    color: #333;
}

#header__mid .page:hover {
    border-bottom: 1px solid #333;
}

#header__mid .junior:hover {
    color: hotpink;
}

#header__mid .happybean:hover {
    color: $naverGreen2;
}